*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* Main App Component */
.App {
  height: 100%;
  width: 100%;
  background: tomato;
}

.App h1 {
  margin: 0;
}
