*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base Styles */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #1f2534;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

/* color values */
/* light blue #336cc6 */

/* Main App Component */
.App {
  height: 100%;
  width: 100%;
}

.App h1 {
  margin: 0;
}

/*** Container Component ***/

.Container {

}

.image-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .3em;
}

.image-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*li wraps images */


/*** Search Form Component ***/
.search-form {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #323232;
  padding: 1em .5em;
}

.form-label {
  display: none;
}

.search-input {
  height: 32px; /* to match .search-button */
}

.search-button {
  background: #336cc6;
  border: none;
}

/*** Main Nav ***/
.main-nav {

}

.main-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background: #323232;
  width: 100%;
  padding: 1em;
}

.main-nav li {
  background: #306efe;
}

.main-nav li a {
  padding: .5em 1em;
}

/* tablet MQ */
@media (min-width: 768px) {
  .image-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop MQ */
@media (min-width: 1024px) {
  .image-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}







/* */
