*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base Styles */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #1f2534;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

/* color values */
/* light blue #336cc6 */

/* Main App Component */
.App {
  height: 100%;
  width: 100%;
}

.App h1 {
  margin: 0;
}

/*** Container Component ***/

.Container {
  padding-top: 8em;
}

.image-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .3em;
}

.image-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*li wraps images */


/*** Search Form Component ***/
.search-form {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background: #306efe; */
  padding: 1em .5em;
}

.form-label {
  display: none;
}

.search-input {
  padding: 1em;
  border: 15px solid #000;
  width: 20em;
  transition: all .4s ease;
}

.search-input:focus {
  width: 23em;
}

.search-button {
  background: #336cc6;
  border: none;
}

/*** Main Nav ***/
.main-nav {

}

.main-nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
  position: fixed;
  top: 0;
  background: #323232;
  width: 100%;
  padding: 1em;
}

.main-nav li {
  text-align: center;
}

.main-nav a {
  padding: .5em 1em;
  width: 100%;
  border-radius: 5em;
  border: 1px solid #fff;
  transition: all .4s ease;
}

.main-nav a:hover {
  background: #306efe;
}

.search-term { /* h2 to hold dynamic search text */
  position: fixed;
  top: 5em;
  text-align: center;
  background: rgba(0, 0, 0, .8); /* #306efe; */
  padding: .4em;
  border-radius: 5em;
}

/* active class for nav router */
.active {
  background: #306efe;
  color: #fff;
}

/* tablet MQ */
@media (min-width: 768px) {
  .Container {
    padding-top: 5em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .image-list {
    grid-template-columns: 1fr 1fr;
  }
  .main-nav ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
  }
  .search-term {
    top: auto;
    bottom: 1em;
  }
}

/* Desktop MQ */
@media (min-width: 1024px) {
  .image-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}







/* */
